<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8"/>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css/options.css"/>
</head>

<body>
<div class="main-container">
  <div class="main-page">
    <div class="main-page__image">
      <img src="images/settings/quokka.png"
           width="200px" height="200px" alt="<%= htmlWebpackPlugin.options.title %>"/>
    </div>
    <div class="main-page__info">
      <div class="main-page__title">
        Настройки расширения Censor Tracker
      </div>

      <div class="checkbox__group">
        <a id="proxyOptionsButton" href="proxy_options.html" class="main-page__link link-ignored">
          <span>Настройки прокси</span>
          <span class="arrow arrow-right">
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.5002 6.30005L1.9002 0.600049C1.5002 0.200049 0.900195 0.200049 0.500196 0.600049C0.100195 1.00005 0.100195 1.60005 0.500196 2.00005L5.4002 6.90005L0.500196 11.8C0.300196 12 0.200195 12.2 0.200195 12.5C0.200195 13.1 0.600195 13.5 1.2002 13.5C1.5002 13.5 1.7002 13.4 1.9002 13.2L7.6002 7.50005C7.9002 7.30005 7.9002 6.70005 7.5002 6.30005Z"/>
            </svg>
          </span>
        </a>
        <div class="main-page__about">
          Если сайт заблокирован, то Censor Tracker предоставит к нему доступ. Отключитье эту настройку, если вы
          пользуетесь другим сервисом для обхода блокировок (например, VPN), чтобы увеличить скорость соединения.
        </div>
      </div>

      <div id="privateBrowsingPermissionsRequiredMessage" class="main-page__extension" hidden>
        <div class="extension__title">
          Разрешите работу расширения в приватных окнах
        </div>
        <div class="extension__text">
          Чтобы мы могли открывать для вас заблокриванные сайты через прокси. В Firefox без этого никак.
        </div>

        <a id="howToGrantPrivateBrowsingPermissions" class="extension__btn">
          Как это сделать
        </a>
        <a id="grantPrivateBrowsingPermissionsButton" class="">
          Я разрешил, включите прокси
        </a>
      </div>

      <div class="checkbox__group">
        <a id="ignoreEditorButton" href="ignore_editor.html" class="main-page__link link-ignored">
          <span>Игнорируемые сайты</span>
          <span class="arrow arrow-right">
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.5002 6.30005L1.9002 0.600049C1.5002 0.200049 0.900195 0.200049 0.500196 0.600049C0.100195 1.00005 0.100195 1.60005 0.500196 2.00005L5.4002 6.90005L0.500196 11.8C0.300196 12 0.200195 12.2 0.200195 12.5C0.200195 13.1 0.600195 13.5 1.2002 13.5C1.5002 13.5 1.7002 13.4 1.9002 13.2L7.6002 7.50005C7.9002 7.30005 7.9002 6.70005 7.5002 6.30005Z"/>
            </svg>
          </span>
        </a>
        <div class="main-page__about">
          Адреса, для которых прокси всегда будет отключён. Может помочь, если есть проблемы с открытием сайта.
        </div>
      </div>

      <div class="checkbox__group">
        <div class="main-page__turn">
          <label for="showNotificationsCheckbox" class="toggle-text">Показывать системные уведомления</label>
          <input id="showNotificationsCheckbox" type="checkbox" class="toggle-button">
        </div>
        <div class="main-page__about">
          Предупредим, когда какой-то сайт передаёт ваши сообщения, личные данные и весь трафик третьим лицам в
          автоматическом режиме.
        </div>
      </div>

      <a href="https://censortracker.org/" target="_blank" class="main-page__link">
        <span>О расширении</span>
        <span>&rarr;</span>
      </a>
    </div>
  </div>
</div>
</body>

</html>
