<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8"/>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css/unavailable.css"/>
</head>

<body>
<div class="main-container">
  <div class="page-header">
    <%= htmlWebpackPlugin.options.title %>
  </div>
  <div class="main-page">
    <div class="main-page__image">
      <img src="images/icons/512x512/disabled.png"
           width="128px" height="128px" alt="<%= htmlWebpackPlugin.options.title %>"/>
    </div>
    <div class="main-page__info">
      <div class="main-page__title" data-i18n-key="unavailableOrBlocked">
        <!-- Сайт недоступен или заблокирован-->
      </div>
      <div class="main-page__text" data-i18n-key="proxyDisabledDesc" data-i18n-render-prop="url">
        <!-- Вы отключили обход блокировок сайтов с помощью Censor Tracker. -->
      </div>
      <div class="main-page__btn">
        <button id="openThroughProxy" class="btn btn-dark" aria-label="Окрыть через прокси">
          <span class="btn__text" data-i18n-key="openThroughProxyButton">
            <!-- Окрыть через прокси -->
          </span>
        </button>

        <button id="doNotAskAnymore" class="btn btn-light">
          <span class="btn__text" data-i18n-key="doNotAskAnymoreButton">
            <!-- Больше не предлагать -->
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
</body>

</html>
