<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8"/>
  <title data-i18n-key="proxyOptionsPageTitle">
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css/options.css"/>
</head>

<body>
<div class="main-container">
  <div class="main-page">
    <div class="main-page__image">
      <img src="images/settings/quokka.png" width="200px" height="200px" alt="<%= htmlWebpackPlugin.options.title %>"/>
    </div>
    <div class="main-page__info">
      <div class="main-page__return">
        <a class="return-link" href="options.html">
          <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1.46967 7.46967C1.17678 7.76256 1.17678 8.23744 1.46967 8.53033L6.24264 13.3033C6.53553 13.5962 7.01041 13.5962 7.3033 13.3033C7.59619 13.0104 7.59619 12.5355 7.3033 12.2426L3.06066 8L7.3033 3.75736C7.59619 3.46447 7.59619 2.98959 7.3033 2.6967C7.01041 2.40381 6.53553 2.40381 6.24264 2.6967L1.46967 7.46967ZM22 7.25L2 7.25V8.75L22 8.75V7.25Z"/>
          </svg>
        </a>
      </div>
      <div id="proxyOptionsTitle" class="main-page__title" data-i18n-key="proxySettings">
        <!-- Настройки прокси -->
      </div>
      <div class="checkbox__group">
        <div class="main-page__turn">
          <label for="useProxyCheckbox" class="toggle-text" data-i18n-key="useProxy">
              <!-- Использовать прокси -->
          </label>
          <input id="useProxyCheckbox" type="checkbox" class="toggle-button">
        </div>
        <div class="main-page__about">
          <div class="use_proxy__text" data-i18n-key="optionsProxyDesc">
              <!-- Если сайт заблокирован, то Censor Tracker предоставит к нему доступ.-->
          </div>
        </div>

        <div id="proxyCustomOptions" hidden>
          <div id="proxyCustomOptionsRadioGroup" class="proxy-radio-btn__group">
            <div class="proxy-radio-btn_el">
              <input id="useDefaultProxy" class="proxy-radio-btn_input" type="radio" name="proxy-radio" value="default" checked>
              <label class="proxy-radio-btn_label" for="useDefaultProxy" data-i18n-key="useDefaultProxy">
                  <!-- Прокси CensorTracker -->
              </label>
            </div>
            <div class="proxy-radio-btn_el">
              <input class="proxy-radio-btn_input" type="radio" name="proxy-radio" id="useCustomProxy" value="custom">
              <label class="proxy-radio-btn_label" for="useCustomProxy" data-i18n-key="useOwnProxy">
                <!-- Свой -->
              </label>
            </div>
          </div>

          <div class="proxy-options-inputs">
            <input type="text" class="input-proxy host" placeholder="Proxy server" id="proxyHostInput">
            <input type="text" class="input-proxy port" placeholder="Port" id="proxyPortInput">
          </div>
        </div>

        <div id="controlledByOtherExtension" class="main-page__extension" hidden>
          <div class="extension__title" data-i18n-key="controlledByOtherExtensionTitle" data-i18n-render-prop="extensionName">
            <!-- Сейчас другое расширение контролирует ваши настройки прокси -->
          </div>
          <div class="extension__text" data-i18n-key="controlledByOtherExtensionDesc" data-i18n-render-prop="extensionName">
            <!-- Для нормальной работы CensorTracker, отключите X в настройках браузера. -->
          </div>
          <a class="extension__btn disable-other-extensions__btn" data-i18n-key="disableAll">
            <!-- Отключить -->
          </a>
        </div>

        <div id="controlledByOtherExtensions" class="main-page__extension" hidden>
          <div class="extension__title" data-i18n-key="controlledByOtherExtensions">
            <!-- Другие расширения контролируют ваши настройки прокси в браузере -->
          </div>
          <div class="extension__text">
            <div data-i18n-key="controlledByOtherExtensionsDesc">
              <!-- Для нормальной работы CensorTracker, отключите следующие расширения в настройках браузера:-->
            </div>
            <ol id="extensionsWhichControlsProxy">
            </ol>
          </div>
          <a class="extension__btn disable-other-extensions__btn" data-i18n-key="disableAll">
            <!-- Отключить все -->
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>
