<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8"/>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css/unavailable.css"/>
</head>

<body>
<div class="main-container">
  <div class="page-header">
    <%= htmlWebpackPlugin.options.title %>
  </div>
  <div class="main-page">
    <div class="main-page__image">
      <img src="images/icons/512x512/blocked.png"
           width="128px" height="128px" alt="Blocked"/>
    </div>
    <div class="main-page__info">
      <div class="main-page__title" data-i18n-key="siteUnavailableTitle">
        <!-- Сайт недоступен или заблокирован в России -->
      </div>
      <div class="main-page__text" data-i18n-key="siteUnavailableDesc" data-i18n-render-prop="url">
        <!-- Не удалось открыть сайт <b id="unavailableWebsite"></b>. -->
      </div>
      <div class="main-page__btn">
        <button id="openThroughProxy" class="btn btn-dark btn-disabled btn-hidden" disabled>
          <span class="btn__text" data-i18n-key="openThroughProxy">
            <!-- Открыть через прокси -->
          </span>
        </button>
        <button id="closeTab" class="btn btn-light">
          <span class="btn__text" data-i18n-key="closeTab">
            <!-- Закрыть вкладку -->
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
</body>

</html>
