{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "94",
          "firefox": "98"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
