<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8"/>
  <title data-i18n-key="unavailablePageTitle"><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css/unavailable.css"/>
</head>

<body>
<div class="main-container">
  <div class="page-header" data-i18n-key="unavailablePageTitle">
    <%= htmlWebpackPlugin.options.title %>
  </div>
  <div class="main-page">
    <div class="main-page__image">
      <img src="images/icons/512x512/blocked.png"
           width="128px" height="128px" alt="Blocked"/>
    </div>
    <div class="main-page__info">
      <div class="main-page__title" data-i18n-key="incognitoAccessRequiredTitle">
        <!--        Сайт недоступен или заблокирован. Разрешите Censor Tracker работать-->
        <!--        в приватных окнах, чтобы открывать такие сайты-->
      </div>
      <div class="main-page__text" data-i18n-key="incognitoAccessRequiredDescription" data-i18n-render-prop="url">
        <!--        Требуется разрешение на работу в приватных окнах. Иначе прокси не работает.-->
      </div>
      <div class="main-page__btn">
        <button class="btn btn-dark">
          <span class="btn__text" data-i18n-key="howToGrantIncognitoAccessBtnTitle">
<!--            Как дать разрешение-->
          </span>
        </button>
        <button id="closeTab" class="btn btn-light">
          <span class="btn__text" data-i18n-key="closeTab">
<!--             Закрыть вкладку-->
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
</body>

</html>
