@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

body {
  display: block;
  width: 100%;
  margin: 0;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  color: #3B332B;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: #3B332B;
}

.main-container {
  width: 100%;
  margin: 30px auto;
  padding: 0;
}

.main-page {
  display: flex;
  left: calc(50% - 455px);
  max-width: 910px;
  height: auto;
  margin: 50px auto;
  padding: 0 20px;
}

.main-page__title {
  font-size: 28px;
  line-height: 35px;
  font-weight: 600;
  margin-bottom: 50px;
}


.main-page__turn,
.main-page__link,
.extension__title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.main-page__link{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.extension__title{
  margin-bottom: 10px;
}

.main-page__turn {
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toggle-text {
  flex-grow: 1;
}

.toggle-button {
 position: relative;
 display: inline-block;
 margin: 0;
 vertical-align: top;
 outline: none;
 cursor: pointer;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 width: 38px;
 height: 20px;
 left: 0px;
 top: 0px;
 background-color: #E0E0E0;
 border-radius: 20px;

}

.toggle-button::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 1px;
  top: 1.5px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 2px;
  background: #FFFFFF;
  box-shadow: 0px 2.01027px 11.8382px rgba(15, 13, 11, 0.055), 0px 1.12694px 6.63642px rgba(15, 13, 11, 0.0655718), 0px 0.598509px 3.52455px rgba(15, 13, 11, 0.079074);
  transform: translateX(0);
  transition: all 150ms ease-in-out;
}

.toggle-button:checked::after {
  transform: translateX(calc(100% + 3px));
  background-color: #fff;
}
.toggle-button:checked {
  background: linear-gradient(319.24deg, #3CA55C 0%, #B5AC49 100%), #FFFFFF;
}


.main-page__turn:hover,
.toggle-text:hover,
.main-page__link:hover > span{
  color: #625C55;
  cursor: pointer;
}

.toggle-text:focus,
.toggle-text:active,
.main-page__turn:focus,
.main-page__link:focus > span,
.main-page__turn:active,
.main-page__link:active > span{
  color: #2A251F;
}


.main-page__about,
.extension__text{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6D675F;
  margin-right: 70px;
}

.extension__text{
  margin-bottom: 20px;
}

.main-page__image{
  margin-right: 70px;
}

.main-page__info{
  max-width: 640px;
  margin-top: 30px
}

.main-page__extension{
  margin-top: 25px;
  background-color: #F4F7FA;
  border-radius: 4px;
  padding: 20px 30px;
}

.extension__btn {
  background-color: #3B332B;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  padding: 9px 20px;
  display: inline-block;
  font-weight: 400;
  box-shadow: 0px 2.01027px 11.8382px rgba(15, 13, 11, 0.055), 0px 1.12694px 6.63642px rgba(15, 13, 11, 0.0655718), 0px 0.598509px 3.52455px rgba(15, 13, 11, 0.079074);
  border-radius: 4px;
  margin-right: auto;
}

.extension__btn:hover{
  cursor: pointer;
  background-color: #625C55;
}
.extension__btn:active,
.extension__btn:focus {
  background-color: #2A251F;
}

@media (max-width: 768px) {
  .main-page {
    flex-direction: column;
    left: 0;
    top: 20%;
  }

  .main-page__info {
    margin-left: 0;
    margin-top: 20px;
  }

}

.extension__name {
  display: inline;
}

.extensions__link {
  cursor: pointer;
}
