@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

body {
  display: block;
  width: 100%;
  margin: 0;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  color: #3b332b;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: #3b332b;
}

.main-container {
  width: 100%;
  margin: 30px auto;
  padding: 0;
}

.main-page {
  display: flex;
  left: calc(50% - 455px);
  max-width: 910px;
  height: auto;
  margin: 50px auto;
  padding: 0 20px;
}

.main-page__image {
  margin-right: 70px;
}

.main-page__return {
  width: 270px;
  height: 30px;
  text-align: left;
  padding-top: 2px;
}

.main-page__return svg {
  vertical-align: text-bottom;
  fill: #3b332b;
}

.main-page__return:hover svg {
  cursor: pointer;
  fill: #625c55;
}

.main-page__title {
  font-size: 28px;
  line-height: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-page__info {
  max-width: 640px;
}

.main-page__about {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6d675f;
}

.input_search {
  border: 1px solid #c4c2bf;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  margin: 30px 0 10px;
  height: 30px;
  padding: 0 11px;
  color: #6d675f;
}

.input_search:focus,
.input_search:active {
  outline: none;
  border: 1px solid #2a251f !important;
}

.CodeMirror {
  width: 100%;
  border: 1px solid #c4c2bf;
  border-radius: 4px;
  color: #3b332b !important;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  height: calc(100vh - 300px) !important;
  min-height: 500px;
}

.CodeMirror .CodeMirror-gutters {
  background-color: transparent;
  border-right: 1px solid #c4c2bf;
  text-align: right;
  box-sizing: border-box;
  padding-right: 5px;
  font-size: 11px;
}

.CodeMirror .CodeMirror-linenumber {
  color: #3b332b;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  line-height: 24px;
  font-size: 11px;
}

.CodeMirror-activeline-background,
.CodeMirror-focused .CodeMirror-activeline-background {
  background: rgba(237, 242, 247, 0.6);
}

.CodeMirror:not(.CodeMirror-focused) .CodeMirror-activeline-background {
  background: unset;
}

.highlight {
  background-color: rgba(81, 115, 211, 0.3);
}

.return-link {
  padding-right: 13px;
}

.mt-10 {
  margin-top: 10px;
}
