body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(40px + 6 * ((100vw - 320px) / 680));
    line-height: 4rem;
}

@media screen and (min-width: 1000px) {
    h1 {
        font-size: 60px;
    }
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(32px + 6 * ((100vw - 320px) / 680));
    line-height: 4rem;
}

.h2 {
    font-family: 'Inter', sans-serif;
    font-size: calc(28px + 8 * ((100vw - 320px) / 680));
    font-weight: bold;
}

h3 {
    font-weight: bold;
    line-height: 140%;
    font-size: calc(17px + ((100vw - 360px) / 146));
}

img.responsive {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1000px) {
    img.responsive {
        width: auto;
    }
}

nav {
    padding: 0;
}

nav .vertical {
    border-right: 1px solid #D3E1F5;
    padding: 2px 1em 2px 0;
    margin-right: 1em;
}

a {
    color: #5173D3;
}

.btn-primary {
    background-color: #5173D3;
    box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.03), 0px 5.84887px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 3.12708px 17.869px rgba(0, 0, 0, 0.0417275), 0px 1.75302px 10.0172px rgba(0, 0, 0, 0.035), 0px 0.931014px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 0.387416px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.btn-primary:hover {
    background-color: #3f5fba;
}

.navbar-quokka {
    text-decoration: none !important;
}

.lead {
    color: #555;
    font-size: 18px;
    line-height: 160%;
}

ul {
    margin-top: 2em;
}

li {
    margin-top: 1em;
}

li a {
    font-size: 15px;
}

.image-big {
    width: 100%;
    height: auto;
}


.spacer {
    height: 20rem;
}

hr {
    background-color: #d1d1d1;
}

.text-secondary {
    font-size: calc(15px + 2 * ((100vw - 360px) / 1000));
    line-height: 160%;
    color: #555;
}

.shadow {
    filter: drop-shadow(0px 14px 40px rgba(0, 0, 0, 0.03)), drop-shadow(0px 5.84887px 33.4221px rgba(0, 0, 0, 0.0503198)), drop-shadow(0px 3.12708px 17.869px rgba(0, 0, 0, 0.0417275)), drop-shadow(0px 1.75302px 10.0172px rgba(0, 0, 0, 0.035)), drop-shadow(0px 0.931014px 5.32008px rgba(0, 0, 0, 0.0282725)), drop-shadow(0px 0.387416px 2.21381px rgba(0, 0, 0, 0.0196802));
    border-radius: 6px;
}

.animated {
    position: relative;
    transition: all 0.25s ease-out 0s;
}

@media screen and (min-width: 1000px) {
    .animated {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.floating-link {
    top: 1rem;
    right: 1rem;
    text-decoration: underline;
}

@media screen and (min-width: 1000px) {
    .floating-link {
        display: block;
        position: static;
    }
}

.bg-light {
    background: #fafafa;
}

.bg-vector {
    background: url(/static/img/blobs.svg) 50% 0%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1000px) {
    .bg-vector {
        background: url(/static/img/blobs_md.svg) 50% 20%;
        background-size: cover;
    }
}


.download-btn {
  width: 283px;
    height: 49px;
}

.accordion .card {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
  border-radius: 0;
}
.accordion .card .card-header{
  border: none;
  padding: 0.75rem 0;
}

.accordion .card button {
  background: none;
  border: none;
  color: inherit;
  line-height: 1.75rem;
  padding: 1.15rem 0;
  font-size: 1.25rem;
  display: flex;
}

.card button:focus {
  box-shadow: none
}

.card button:hover {
  text-decoration: underline;
}
.card button:not(.collapsed) {
  box-shadow: none;
  padding-bottom: 0;
}

.card button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    box-sizing: border-box;
    transition: transform .2s ease-in-out;
  }

.card button:not(.collapsed)::after {
  transform: rotate(180deg);
}

.card-body {
  padding: 0;
  padding-bottom: 1.75rem;
}

.s-version {
    text-decoration: none;
    font-weight: 600;
}

.nav-content {
    display: flex;
    justify-content: space-between;
}

.spec-symbol {
    border: 1px solid #9aa2aa;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(12 13 14 / 44%), inset 0 1px 0 0 hsl(0deg 0% 42% / 14%);
    display: inline-block;
    font-size: 12px;
    margin: 0 0.1em;
    overflow-wrap: break-word;
    padding: 0.1em 0.6em;
}


@media (max-width: 400px) {
    .ml-md-0, .mx-md-0 {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
    }
}

@media (max-width: 550px) {
    .ru-instr {
        width: 450px;
        height: 250px;
    }
}

@media (max-width: 450px) {
    .ru-instr {
        width: 350px;
        height: 150px;
    }
}

@media (max-width: 995px) {
    .en-instr-1 {
        width: 350px;
        height: 220px;
    }
    .en-instr-2 {
        width: 350px;
        height: 270px;
    }
}

@media (min-width: 995px) {
    .en-instr-2, .en-instr-1 {
        width: 950px;
        height: 550px;
    }
}