.options-body, body {
    background-color: #181A1B;
    color: #F4F1F1;
}

.options-page-card {
    background-color: #242728;
}

.main-page__title {
    color: #F4F1F1;
}

.options-page-card .block__title {
    color: #F4F1F1;
    opacity: 0.5;
}

a {
    color: #F4F1F1;
}

label {
    color: #F4F1F1;
}

.description, .extension__text, .main-page__about {
    color: #F4F1F1;
    opacity: 0.5;
}

.options-page-card {
    border-bottom: none;
}

.options-page-card .options-hr {

}

.options-links .option-link-text {
    color: #F4F1F1;
    opacity: none;
}

.main-page__link svg {
    fill: #F4F1F1;
}

.main-page__return svg {
    fill: #F4F1F1;
}

.state-title {
    color: #F4F1F1;
    opacity: 0.5;
    font-size: 13px;
    line-height: 17px;
    margin-left: 400px;
}

.main-page__link:hover,
.link-ignored:hover {
    color: #F4F1F1;
    opacity: 0.3;
}

#version {
    color: #F4F1F1;
    opacity: 0.5;
}

.option__link,
.option__title,
.extension__title,
.popup-text {
    color: #F4F1F1;
}

.main-page__extension {
    background-color: #242728;
}

.btn-dark,
.default-btn {
    background: #484C51;
    border-radius: 4px;
}

.btn:hover,
.default-btn:hover {
    background: #61666B;
}

.options-page-card .options-hr {
    height: 0;
    border: 0.1px solid #3A3C3E;
}

a {
    color: #F4F1F1;
}

a:hover {
    color: #FFFFFF;
}

.btn-what-this-mean:hover {
    color: #FFFFFF;
}

.main-page__turn:hover,
.toggle-text:hover,
.option:hover,
.main-page__link:hover > span,
.use_proxy__link:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.popup {
    background-color: #181A1B;
}

.toggle-button {
    background: #61666B;
}

.popup .popup-content .close-popup path {
    stroke: #F1F1F1;
}

textarea, input {
    background: #242728;
    color: #F4F1F1;
    caret-color: #F4F1F1;
}

#optionsRegistryIsEmptyWarning {
    border: 1px solid #61666B;
}

.proxy__disclaimer {
    border: 1px solid #61666B;
    background-color: #242728;
    color: #F4F1F1;
}

.proxy__disclaimer .disclaimer__text {
    color: #F4F1F1;
}

.proxy__disclaimer .disclaimer__text a {
    text-decoration: underline;
}

