#overlay {
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(https://u.cubeupload.com/AnnaCh/020112.png),
  linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 1) 100%);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10000;
}

@media print and (min-width: 678px) {
  #overlay {
    background-image: url(https://u.cubeupload.com/AnnaCh/020112.png);
  }
}

@media (min-width: 1000px) {
  #overlay {
    background-image: url(https://u.cubeupload.com/AnnaCh/020112.png);
  }
}
