#ct-parental-control-overlay {
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10000;
}
