@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

body {
  width: 315px;
  display: block;
  margin: 0;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  color: #3b332b;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 20%) 0 0 1px;
}

a {
  text-decoration: none;
}

.main-page {
  margin: 20px;
}

.main-page__image {
  padding: 10px 0;
  text-align: center;
  position: relative;
}

.icon__settings {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  mask: url("../images/settings/cog.svg") no-repeat center / contain;
  -webkit-mask: url("../images/settings/cog.svg") no-repeat center / contain;
  background-color: #3b332b;
}

.icon__donate {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 28px;
  width: 18px;
  height: 18px;
  mask: url("../images/settings/donate.svg") no-repeat center / contain;
  -webkit-mask: url("../images/settings/donate.svg") no-repeat center / contain;
  background-color: #6C9E2C;
}

.icon__donate:hover {
  cursor: pointer;
  filter: contrast(200%);
}

.icon__settings:hover {
  cursor: pointer;
  filter: contrast(300%);
}

.icon__back {
  position: absolute;
}

.icon__back path {
  fill: #3b332b;
  fill-opacity: 0.7;
}

.icon__back:hover {
  cursor: pointer;
}

.icon__back:hover path {
  fill: #625c55;
}

.icon__back:active path,
.icon__back:focus path {
  fill: #2a251f;
}

.main-page__another-extension {
  position: relative;
}

.main-page__title,
.title-extension {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  padding: 20px 0;
}

.title-extension {
  padding-top: 40px;
}

.main-page__title {
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-extension {
  color: #625c55;
  margin-bottom: 30px;
}

.default-btn {
  background-color: #3b332b;
  font-size: 14px;
  line-height: 15px;
  color: #fff;
  padding: 9px 20px;
  display: block;
  font-weight: 400;
  box-shadow: 0 2.01027px 11.8382px rgba(15, 13, 11, 0.055), 0 1.12694px 6.63642px rgba(15, 13, 11, 0.0655718), 0 0.598509px 3.52455px rgba(15, 13, 11, 0.079074);
  border-radius: 4px;
  text-align: center;
  margin-bottom: 50px;
}

.default-btn:hover {
  cursor: pointer;
  background-color: #625c55;
}

.default-btn:active,
.default-btn:focus {
  background-color: #2a251f;
}

.main-page__block {
  margin-bottom: 20px;
}

.title-disabled {
  color: #3b332b;
  text-transform: none;
}

.title-blocked {
  color: #3b332b;
  text-transform: uppercase;
}

.title-normal {
  color: #6c9e2c;
  text-transform: uppercase;
}

.title-ori {
  color: #b61414;
  text-transform: uppercase;
}

.icon__status {
  width: 20px;
  height: 20px;
  margin-left: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

.block__title {
  font-style: normal;
  font-weight: 500;
  position: relative;
  margin-bottom: 5px;
  padding-right: 40px;
}

.block-disabled {
  padding-right: 0;
}

.block__btn {
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  display: flex;
  align-items: center;
}

.btn-about {
  opacity: 0.6;
}

.block__btn:hover {
  color: #625c55;
  cursor: pointer;
}

.block__btn:active {
  color: #2b251f;
  cursor: pointer;
}

.block__btn:hover path {
  stroke: #625c55;
}

.block__btn.icon {
  margin-left: 4px;
}

.btn-ok {
  border: 1px solid #3b332b;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 20px;
}

.block__text {
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  display: none;
  margin-top: 10px;
  padding: 15px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.block__footer {
  display: flex;
  padding-top: 10px;
}

.text-normal {
  background: rgba(237, 242, 247, 0.6);
}

.text-warning {
  background: #f7eded;
}

.footer,
.footer-btn {
  background: #f4f4f4;
  font-size: 13px;
  line-height: 20px;
}

#privateBrowsingPermissionsRequiredButton {
  background: #f4f4f4;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 1px;
  padding: 15px 24px 15px 20px;
}

#privateBrowsingPermissionsRequiredButton > div:hover {
  cursor: pointer;
  color: #625c55;
}

#privateBrowsingPermissionsRequiredButton > div:active,
#privateBrowsingPermissionsRequiredButton > div:focus {
  color: #2a251f;
}

.footer__arrow {
  font-weight: 600;
}

.footer-on > .buy-vpn {
  border: none;
}

.footer-on > .buy-vpn > a {
  margin: 0 auto;
}

.footer-btn {
  margin-bottom: 1px;
  padding: 15px 24px 15px 20px;
}

.footer-btn > div:hover {
  cursor: pointer;
  color: #625c55;
}

.footer-btn > div:active,
.footer-btn > div:focus {
  color: #2a251f;
}

.buy-vpn {
  padding: 5px 20px;
  line-height: 20px;
  border-bottom: 1px solid rgba(59, 51, 43, 0.06);
}

.btn-text a {
  text-decoration: none;
  color: inherit;
}

.censor-tracker {
  padding: 15px 20px;
  display: flex;
}

.censor-tracker__column:first-child {
  flex-grow: 1;
}

.censor-tracker__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.censor-tracker__btn {
  position: relative;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0.598509px 3.52455px rgba(15, 13, 11, 0.079074), 0 1.12694px 6.63642px rgba(15, 13, 11, 0.0655718), 0 2.01027px 11.8382px rgba(15, 13, 11, 0.055);
}

.censor-tracker__btn:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.censor-tracker__btn:active {
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(15, 13, 11, 0.1), 0 0 2px rgba(0, 0, 0, 10%);
}

.btn-on {
  margin: 30px auto 70px;
  width: 80px;
  height: 80px;
}

.image__turn-tracker {
  position: absolute;
  left: calc(50% - 5px);
  top: calc(50% - 8px);
  pointer-events: none;
}

.image__turn-tracker-on {
  left: calc(50% - 18px);
  top: calc(50% - 18px);
  pointer-events: none;
}

.text-about {
  text-align: center;
}

.extension__name {
  display: inline;
}

.extensions__link {
  cursor: pointer;
}

#howToGrantIncognitoAccess {
  margin-bottom: 30px;
}

.center-text {
  text-align: center;
}

div#grantPrivateBrowsingPermissionsButton {
  cursor: pointer;
}

.censor-tracker__status {
  font-size: 13px;
  line-height: 15px;
  color: #8A8580;
  margin-top: 3px;
}
.censor-tracker__status.status-error{
  color: #B66B14;
}

.censor-tracker__turn {
  font-weight: 400;
}
